@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pinyon+Script&display=swap");

:root {
  --color-black1: #020617;
  --color-black2: #0f172a;
  --color-black3: #1e293b;
  --color-black4: #334155;
  --color-black5: #475569;
  --color-black6: #64748b;
  --color-black7: #94a3b8;
  --color-blue: #528ff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  transition: all ease-in 0.3s;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
}

.nav-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
}

.link-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.img-logo {
  width: 60px;
}

.link-logo strong {
  color: var(--color-black1);
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 18px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link a {
  color: var(--color-black3);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-bottom: 2px;
  font-weight: 600;
}

.nav-link a:hover {
  color: var(--color-blue);
  font-weight: 600;
  position: relative;
}

.nav-link a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-blue);
  transition: all ease 0.3s;
  border-radius: 1px;
}

.nav-link a:hover::after {
  width: 100%;
}

.toggle-menu {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--color-black5);
  padding: 20px 10px;
  cursor: pointer;
  display: none;
  border-radius: 6px;
  z-index: 2;
}

.toggle-menu p {
  font-weight: 600;
  font-size: 16px;
}

.garis {
  width: 30px;
  height: 2.5px;
  background-color: var(--color-black3);
  position: relative;
}
.garis::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background-color: var(--color-black3);
  top: 8px;
}

.garis::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2.5px;
  background-color: var(--color-black3);
  bottom: 8px;
}

/* home */

.home {
  max-width: 1300px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 25px;
  display: flex;
  align-items: center;

}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}

.home-list-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  align-items: center;
}

.home-text1 {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.home-text1 h1 {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: var(--color-black2);
}

.home-text1 h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  line-height: 24px;
  text-align: justify;
}

.home-text1 a {
  background-color: var(--color-blue);
  width: max-content;
  padding: 0 28px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03rem;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  transition: all ease 0.5s;
}

.home-text1 a:hover {
  color: var(--color-blue);
  background-color: #ffffff;
}

.home-img1 {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.hiddenimg {
  z-index: -1;
}

.btn-right {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}

.btn-right i {
  font-size: 28px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6px;
  animation: gerakin 1s infinite;
}

@keyframes gerakin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.img1 {
  position: absolute;
}

.imgright {
  opacity: 0;
}

/* sambutan */
.sambutan {
  max-width: 1300px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 25px;
  display: flex;
  align-items: center;
}

.sambutan-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  align-items: center;
}

.sambutan-img {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 470px;
  border-radius: 20px;
}

.sambutan-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sambutan-text p {
  color: var(--color-blue);
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 16px;
}

.sambutan-text h1 {
  font-size: 28px;
  font-weight: 800;
  color: var(--color-black2);
  letter-spacing: 0.03rem;
}

.sambutan-text h2 {
  font-size: 14px;
  letter-spacing: 0.03rem;
  line-height: 20px;
  color: var(--color-black4);
}

.sambutan-text h2 span{
  color: var(--color-blue);
  font-weight: 600;
}

.sambutan-text a {
  margin: 10px 0;
  background-color: var(--color-blue);
  width: max-content;
  padding: 0 24px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03rem;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  transition: all ease 0.5s;
}

.sambutan-text a:hover {
  color: var(--color-blue);
  background-color: #ffffff;
}

.sambutan-text2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid var(--color-black7);
  border-radius: 8px;
  gap: 20px;
}

.sambutan-text2 h3 {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: var(--color-black2);
}

.sambutan-text h4{
  font-size: 14px;
  letter-spacing: .03rem;
}

.social-media{
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media i{
  font-size: 24px;
  color: var(--color-blue);
}

/* responsive */
@media (max-width: 980px) {
  .toggle-menu {
    display: flex;
  }

  .nav-list {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    width: 100%;
    right: -100%;
    top: 80px;
    padding: 25px;
    min-height: 100vh;
  }

  .active {
    right: 0;
  }

  .nav-link a {
    font-size: 20px;
  }
}

@media (max-width: 560px) {

}
